.content {
	height: calc(100vh - 4rem);
	padding: 0 1rem 1rem 1rem;

	&__inner {
		background: white;
		height: 100%;
		border-radius: 0.5rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 0.625rem;

		@include md {
			padding: 2rem;
		}

		h2 {
			font-size: 2rem;
			max-width: 450px;
			span {
				color: $blue;
			}

			@include md {
				font-size: 3rem;
			}
		}
	}
}
