---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class='content'>
		<div class='content__inner'>
			<h2>Find the <span>best coffee in town</span></h2>
			<p>Coming soon.</p>
		</div>
	</main>
</Layout>
