@font-face {
	font-family: 'Nohemi';
	src: url('/public/fonts/nohemi.otf') format('opentype'), url('/public/fonts/nohemi.otf') format('opentype'), url('/public/fonts/nohemi.woff') format('woff');
}

body {
	font-family: 'Nohemi', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
